@charset "UTF-8";
.base {
    text-align: center;
    width: 850px;
    height: 80%;
    box-shadow: 0 0 0px #727272;
    margin:auto;
    padding:20px 0px 20px 20px;
}
.songs-block{
    width: 535px;
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
    display:inline-block;
    vertical-align: top;
    margin: 20px 10px 10px 10px;
}

.songs_title{
    width: 480px;
    margin: 0px auto 20px auto;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    color: #4682B4;
    font-size: 30px;
    box-shadow: 0 0 7px #727272;
    border-radius: 6px;
}

.songs {
    background-color: white;
    width: 480px;
    height: 300px;
    margin: auto;
    padding: 20px 20px 0px 20px;
    box-shadow: 0 0 7px #727272;
    border-radius: 6px;
}
.left_options_column{
    width: 20px;
    float: left;
    padding: 0px 0px 0px 0px;
    display:inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 0px;
}
.check_box{
    height: 37px;
    margin:0px 5px;
}
.line_stack{
    width: 460px;
    display:inline-block;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.info_line{
    background: white;
    height: 35px;
    width: 470px;
    margin:0px 0px 0px 0px;
    padding: 1px;
    display: flex;
    font-size: 16px;
    font-weight: 100;
    font-family: system-ui;
}
.garbage_button{
    float: left;
    background: white;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border: 0px;
    height: 37px;
    width: 20px;
    display: inline-block;
}

.element_button{
    font-size: 16px;
    font-weight: 100;
    font-family: system-ui;
    float: left;
    background: white;
    height: 34px;
    width: 430px;
    text-align: left;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    border: 0px;
}
.element_button:hover  {
    color: #70b0cf;
}

.element_button:focus {
    outline: none;
}

.element_button:active {
    outline: none;
}
.element_info{
    line-height: 40%;
    border: 0px;
    text-align: center;
    background: white;
    width: 30px;
    height: 34px;
    float: left;
    margin: 0px 10px 0px 0px;
    display: inline-block;
}
.price_block{
    height: 20px;
    width: 480px;
    margin: -46px 0px 0px 0px;
}
.total_song{
    float: right;
    text-align: right;
    height: 20px;
    width: 200px;
    margin: auto;

}
.page_iterator_block{
    height: 20px;
    margin: 270px 0px 0px 0px;

    font-size: 16px;
    font-weight: 100;
    font-family: system-ui;
}
.page_iterator_button_form{
    display: inline;

}
.page_iterator{
    margin: 0px 2px;
    width: 16px;
    height: 20px;
    display: inline-block;
}
.page_iterator_button{
    margin: 0px 2px;
    width: 20px;
    height: 21px;
    border: 0px;
    border-radius: 6px;
    padding: 0px;
}
.page_iterator_button:hover{
    background: #70b0cf;
}
.page_iterator_button:focus {
    outline: none;
}

.page_iterator_button:active {
    outline: none;
}
.error_message{
    margin: 20px auto;
    height: 30px;
    width: 300px;
    text-align: center;
    font-style: italic;
    display: block;
}
