@charset "UTF-8";
.discount_block{
    width: 250px;
    height: 150px;
    display: inline-block;
    float: left;
    margin: 30px 0px 0px 12px;
    padding: 10px 0px 0px 0px;
    box-shadow: 0 0 7px #33969f;
    border-radius: 6px;
}
.discount_name{
    display: block;
    width: 200px;
    height: 20px;
    margin: 2px 0px 2px 10px;
    text-align: left;
    vertical-align: center;
    padding: 2px 0px 2px 20px;
    color: grey;
}
.discount_value{
    display: block;
    width: 192px;
    height: 20px;
    margin: 2px 0px 10px 10px;
    text-align: left;
    vertical-align: center;
    padding: 2px 0px 2px 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.discount_price{
    display: block;
    width: 192px;
    height: 20px;
    margin: 2px 0px 10px 10px;
    text-align: left;
    vertical-align: center;
    padding: 2px 0px 2px 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}