@charset "UTF-8";
.enter{
    width: 300px;
    margin: 40px auto;
    text-align: center;
    font-weight: bold;
    color:#4682B4;
    font-size:50px;
}
.input{
    display: block;
    width: 150px;
    margin: 20px auto;
}
.login_button{
    display: block;
    width: 100px;
    height: 30px;
    margin: 20px auto;
    border: 0px;
    background: #2f83b5;
    color: #ffffff;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;

}
.login_button:hover {
    color: #70b0cf;
}

.login_button:focus {
    outline: none;
}

.login_button:active {
    outline: none;
}
.error_message{
    margin: 10px auto;
    height: 30px;
    width: 300px;
    text-align: center;
    font-style: italic;
    display: block;

}