@charset "UTF-8";
.order-block{
    display:inline-block;
    float: left;
    width: 200px;
    margin: 10px 0px 0px 12px;
    padding: 10px 0px 0px 0px;
}

.order{
    width: 220px;
    height: 80px;
    margin: 10px 0px 0px auto;
    padding: 5px 0px 5px 0px;
    box-shadow: 0 0 7px #727272;
    border-radius: 6px;
}
.selected-songs{
    height: 24px;
    margin: 10px 0px 3px 0px;
}
.order-button {
    height: 25px;
    width: 80px;
    margin: 5px 0px 3px 0px;
    background: #2f83b5;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
    padding: 2px 10px 2px 10px;
}

.order-button:hover {
    color: #70b0cf;
}

.order-button:focus {
    outline: none;
}

.order-button:active {
    outline: none;
}