@charset "UTF-8";
.search_word{
    width: 300px;
    margin: 40px auto;
    text-align: center;
    font-weight: bold;
    color:#4682B4;
    font-size:50px;
}
.search_form{
    width: 230px;
    margin: auto;
    padding: 20px 20px 1px 20px;
    box-shadow: 0 0 7px #727272;
    border-radius: 6px;
}
.search_input{
    display: block;
    width: 150px;
    margin: 20px auto;
}
.search_type{
    display: block;
    width: 150px;
    margin: 20px auto;
}
.search-button{
    display: block;
    width: 180px;
    height: 40px;
    margin: 35px auto;
    background: #2f83b5;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border: 0px;
    border-radius: 6px;
    box-shadow: 0 0 2px #727272;
}
.search-button:hover {
    color: #70b0cf;
}

.search-button:focus {
    outline: none;
}

.search-button:active {
    outline: none;
}
.error_message{
    margin: 10px auto;
    height: 30px;
    width: 300px;
    text-align: center;
    font-style: italic;
    display: block;

}
